p, ul {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
}

h2 {
    font-family: "Martian Mono", monospace;
    padding: 0px;
    margin: 0px;
}

.app-detail {
    width: 100%;
    max-width: 800px;
    container: content / inline-size;
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity var(--fade-duration);
  }

  .app-detail--features {
    padding-top: 1em;

  }

.app-detail--features img {
    height: 60px;
    padding-right: 2em;
}


ul {
    padding-left: 1em;
    margin: 0;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

@container content (width < 600px) {
    .columns {
        grid-template-columns: auto;
    }
    
.app-detail--features-hidden {
    display: none;
}
}

@container content (width < 450px) {
    .secondCol {
        display: none;
    }
    
}

