.end {
    padding: 1.5em 0 0 1.5em;
    margin-left: -200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .end img {
    height: 2.5em;
    padding: 0;
    margin: 0;
  }

  .end a {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .end a.active {
    color: white;
    opacity: 0.5;
  }