.footer {
    margin-right: -200px;
    background-color: var(--timer-bg);
    padding: 1.5em;
    display: flex;
    align-items: flex-end;
  }

  .footer a {
    color: #2a2729;
    text-decoration: none;
  }

  .footer a.active {
    color: white;
    opacity: 0.5;
  }