.header {
    padding: 1.5em;
    margin-right: -200px;
    background-color: var(--timer-bg);
  }

  .header #training {
    display: none;
  }

  .header h1 {
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
  }
  

  @media screen and (min-width: 660px) {
    .header #training {
      display: inline;
    }
  }