.menu {
    padding: 1.5em;
    margin-left: -200px;
    text-align: right;
  }

  .menu a {
    padding-left: 2em;
    color: #2a2729;
    text-decoration: none;
  }

  .menu a.active {
    color: white;
    opacity: 0.5;
  }
