.app {
  display: none;
}

.web {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 3em auto 3em;
  background-color: var(--reset);
  background-image: url("/src/img/bg.jpg");
  background-repeat: repeat-y;
  background-position: 50%;
  transition: grid-template-columns 0.5s;
}

.web--animate-timer {
  grid-template-columns: 3fr 400px 1fr;
  transition: grid-template-columns 1s;
}

.web--content {
  padding: 1em;
}

.web--menu {
  grid-column: span 3;
  padding: 1em;
}

.web--footer {
  grid-column: span 3;
  padding: 1em;
}

.web--demo {
  display: flex;
  flex-direction: column;
}

.web--download {
  padding: 10%;
}

@media only screen and (max-width: 600px) {
  .web {
    display: none;
  }

  .app {
    display: block;
    height: 100vh;
  }

}