.app {
  display: none;
}

body {
  font-family: "Martian Mono", monospace;
}

.web {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 750px 1fr;
  background-color: var(--reset);
  transition: grid-template-columns var(--transition-duration);
}

.web--animate-timer {
  grid-template-columns: 2fr 400px 0.5fr;
  transition: grid-template-columns var(--transition-duration);
}

.web--animate-weights {
  grid-template-columns: 0.5fr 400px 2fr;
  transition: grid-template-columns var(--transition-duration);
}

.web--content {
  display: flex;
  padding: 1.5em;
}

.web--content#bold {
  display: flex;
  justify-content: center;
}

.web--timer {
  justify-content: flex-end;
  background-color: var(--stop);
  margin-right: -200px;
  padding-right: 200px;
}

.web--weights {
  background-color: var(--reset);
  margin-left: -200px;
  padding-left: 200px;
}

/* MARK: DEMO
*/
.web--demo {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.web--download {
  padding: 8%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}

.web--download-qr {
  background: white;
  padding: 0.5em;
  border-radius: 5%;
}

@media only screen and (max-width: 800px) {
  .web {
    display: none;
  }

  .app {
    display: block;
    height: 100vh;
  }

}